:root {
  --primary-color: #fef4f2;
  --secondary-color: #8bf0ba;
  --tertiary-color: #f95e9b;
  --text-color: #1e273a;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Lora", serif;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
  color: var(--text-color);
  display: block;
  margin: 0 auto;
  padding: 120px;
}

.hero h2 {
  font-family: var(--secondary-font);
  color: var(--text-color);
}
.hero h1 {
  font-size: 70px;
}

.hero p {
  font-size: 42px;
  color: var(--text-color);
  font-family: var(--secondary-font);
}

.btn {
  background-color: #ff7988;
  color: aliceblue;
  font-size: 20px;
}

p {
  font-family: var(--primary-font);
  font-size: 42px;
  text-align: center;
}

.descriptions {
  font-size: 18px;
  text-align: center;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: var(--text-color);
  font-family: var(--primary-font);
}
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--text-color);
  text-align: center;
}

img {
  box-shadow: var(--box-shadow);
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 30px;
  font-family: var(--primary-font);
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
@media (max-width: 900px) {
  .descriptions {
    text-align: center;
    padding: 0;
  }
  .hero h1 {
    font-size: 50px;
  }
}

@media (max-width: 300px) {
  .hero p {
    font-size: 18px;
  }
  .hero h2 {
    display: none;
  }
  .hero h1 {
    font-size: 42px;
  }
  .hero {
    padding: 0;
  }
}

.content-container {
  background-color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
  color: var(--text-color);
  display: block;
  margin: 0 auto;
  padding: 120px;
}
.content-container p {
  font-size: 16px;
}
.portrait {
  max-width: 400px;
}
